{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'game/styles.css' %}">
  <head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>  
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/ace.js"></script>
    
  <title>Neolithic Deities</title>
</head>
<body>
  <script>
    const hexProperties = {{ hex_properties|safe }};
    const colorSchemesData = {{ color_schemes|safe }};
  </script>
  <div id="game-container">
    <div id="start-screen">
      <h1>Neolithic Deities</h1>
      <label for="start-year">Start Year:</label>
      <input type="number" id="start-year" value="-7500">
      <button id="start-game">Start Game</button>
    </div>
    <div id="game-screen" style="display: none;">
      <div id="ui-container">
        <div id="entity-info" style="display: none; background-color: transparent;"></div>
        <div id="settlement-info" class="settlement-info neolithic-style entity-details" style="display: none;">
          <h3 id="settlement-name">Settlement Name</h3>
          <p id="settlement-population">Population: 0</p>
        </div>
        <div class="dna-info neolithic-style entity-details" style="display: none;">
          <h3 id="dna-id">DNA ID</h3>
          <p id="dna-age">Age: 0</p>
          <p id="dna-haplogroups">Haplogroups: N/A</p>
        </div>
      </div>
      <div id="map-container">
          <div id="map" style="width: 100%; height: 100%;"></div>
      </div>          
      
      <div id="year-display" class="neolithic-style">Year: <span id="current-year"></span></div>
      <div id="controls">
        <button id="pause-play">Pause</button>
        <label for="speed-slider">Game Speed:</label>
        <input type="range" id="speed-slider" min="1" max="100" step="1" value="1">
        <span id="years-per-second">0</span> years/second
      </div>
      <div id="hexInfo" class="neolithic-style" style="display: none;">
        <p>Terrain: <span id="hex-terrain"></span></p>
        <p>Climate Code: <span id="hex-climate"></span></p>
        <p>Koeppen Index: <span id="hex-koeppen"></span></p>
        <p>Resources: <span id="hex-resources"></span></p>
        <p>Agriculture Adoption: <span id="hex-agriculture-adoption"></span></p>
        <p>Trade Route Quality: <span id="hex-trade-route-quality"></span></p>
        <p>Caloric Surplus: <span id="hex-caloric-surplus"></span></p>
        <p>People per Square km: <span id="hex-population-density"></span></p>
        <button id="edit-hex-json">Edit JSON</button>
      </div>      
      <div id="json-editor-container" style="display: none; position: fixed; bottom: 0; width: 100%; height: 50%;">
        <div id="json-editor" style="width: 100%; height: calc(100% - 40px);"></div>
        <div style="display: flex; margin-top: 10px;">
          <button id="save-json">Save</button>
          <button id="cancel-json">Cancel</button>
        </div>
      </div>      
    </div>
  </div>
  <script src="{% static 'game/main.js' %}"></script>
</body>
</html>

