body {
    font-family: Arial, sans-serif;
  }
  
  #game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #map-container {
    width: 800px;
    height: 600px;
    background-color: lightblue;
    position: relative;
  }
  
  .settlement-icon {
    position: absolute;
    cursor: pointer;
  }
  
  .settlement-label {
    position: absolute;
    text-align: center;
    width: 100px;
    margin-left: -50px;
    font-size: 12px;
  }
  
  #controls {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  #ui-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .settlement-info {
    position: absolute;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
  }

  #hexInfo {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    z-index: 1000;
  }
  
  .neolithic-style {
    border: 5px solid #5a3921; /* A dark brown border */
    border-radius: 10px; /* Rounded corners */
    background-color: #e0c29f !important;; /* A light brown, earthy background */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Change the font, if desired */
    padding: 15px; /* Add some padding around the content */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25); /* Add a subtle shadow for depth */
    max-width: 300px; /* Set a maximum width for the element */
  }

  .entity-details {
    position: relative;
    top: 10px;
    right: 0px;
    z-index: 1000;
  }
  
  
  #entity-info {
    background-color: transparent;
    z-index: 1000;
  }

  #json-editor-container {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
    z-index: 1000; /* Ensures the editor appears above the map */
    background-color: #ffffff; /* Set the background color */
    border: 2px solid #000000; /* Add a border */
    padding: 20px; /* Add some padding around the content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow for a "floating" effect */
    overflow: auto; /* Add scrollbars if the content overflows */
  }
  